## Import initial required libraries and packages

In [1]:
# Import all required libraries and packages

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, unix_timestamp, month, year, date_format, date_sub, to_date, date_add, lag,  dayofweek, dayofmonth, dayofyear, dayofweek
import pandas as pd
import numpy as np
from pyspark.context import SparkContext
from pyspark.sql.functions import approxCountDistinct
from pyspark.sql import functions as F
from pyspark.sql.functions import lit
from pyspark.sql.types import DateType, IntegerType,NumericType
from pyspark.ml.feature import QuantileDiscretizer
from pyspark.ml.feature import Bucketizer
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder,CrossValidatorModel

import matplotlib.pyplot as plt
%matplotlib inline

## Load in the clean data 

Here is where we load the cleaned parquet file and take a few initial looks at it

In [2]:
# Load the latest clean dataset

sc = SparkContext('local')
spark = SparkSession(sc)

df = spark.read.load("hdfs://ca4022-m/user/adam/parquet/cleaned2")

In [3]:
# Quick look at how many alcohol transactions we have

df.count()

12591077

In [4]:
# Quick look at the schema features and data types

df.printSchema()

root
 |-- Category: integer (nullable = true)
 |-- Item_Number: integer (nullable = true)
 |-- Vendor_Number: integer (nullable = true)
 |-- County_Number: integer (nullable = true)
 |-- Zip_Code: string (nullable = true)
 |-- Store_Number: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Pack: integer (nullable = true)
 |-- Bottle_Volume_ml: integer (nullable = true)
 |-- State_Bottle_Cost: float (nullable = true)
 |-- State_Bottle_Retail: float (nullable = true)
 |-- Bottles_Sold: integer (nullable = true)
 |-- Sale_Dollars: float (nullable = true)
 |-- Volume_Sold_Liters: double (nullable = true)
 |-- Volume_Sold_Gallons: double (nullable = true)
 |-- invoice_number: string (nullable = true)
 |-- line_number: string (nullable = true)
 |-- Store_Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- median_lat: float (nullable = true)
 |-- median_lon: float (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- Vendor_Name: string (nullable = true)
 |-- Item_Description: string (nullable = true)
 |-- Category_Name: string (nullable = true)

In [6]:
# Example of what a row looks like in this set, having been cleaned and preprocessed

df.show(1)

+--------+-----------+-------------+-------------+--------+------------+----------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+--------------+-----------+---------------+-------------+----------+----------+---------------+------+---------------+--------------------+-----------------+
|Category|Item_Number|Vendor_Number|County_Number|Zip_Code|Store_Number|      Date|Pack|Bottle_Volume_ml|State_Bottle_Cost|State_Bottle_Retail|Bottles_Sold|Sale_Dollars|Volume_Sold_Liters|Volume_Sold_Gallons|invoice_number|line_number|     Store_Name|      Address|median_lat|median_lon|           City|County|    Vendor_Name|    Item_Description|    Category_Name|
+--------+-----------+-------------+-------------+--------+------------+----------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+--------------+-----------+---------------+-------------+----------+----------+---------------+------+---------------+--------------------+-----------------+
| 1081390|      69945|          260|           77|   50265|        2648|2012-10-24|  12|             375|             6.75|              10.12|           3|       30.36|              1.12|                0.3|        S08552|     300110|Hy-Vee #4 / WDM|555 S 51ST ST|  41.56122| -93.77358|WEST DES MOINES|  Polk|Diageo Americas|Rumple Minze Pepp...|IMPORTED SCHNAPPS|
+--------+-----------+-------------+-------------+--------+------------+----------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+--------------+-----------+---------------+-------------+----------+----------+---------------+------+---------------+--------------------+-----------------+
only showing top 1 row

In [7]:
# Quick look at some store numbers alongside the store names

df.select(["Store_Number","Store_Name"]).dropDuplicates().show(5)

+------------+--------------------+
|Store_Number|          Store_Name|
+------------+--------------------+
|        3162|Nash Finch / Whol...|
|        4909|Pump N Pak Rock V...|
|        3056|Clarion Super Val...|
|        4180|Smokin' Joe's #10...|
|        9002|Mississippi River...|
+------------+--------------------+
only showing top 5 rows

## Create derived sales features

We need some derived, aggregated, sales values to work with.

First we calculate how much sales in USD each item generates in each store.

We also want to get the total sales in USD that each store has throughout the whole period within the dataset.

Then we join these together in a table, sale_by_store_by_item

In [3]:
# Calculate the most popular liquor items in terms of sales for each store

sale_by_store_item = df.groupBy("Store_Number", "Item_Number").sum("Sale_Dollars")

In [4]:
# Calculate total sales in US dollars for each store

sales_by_store = df.groupBy("Store_Number").sum("Sale_Dollars")

In [5]:
# rename columns

sales_by_store = sales_by_store.withColumnRenamed("sum(Sale_Dollars)", "store_total_sale_dollars")

In [6]:
# Rename columns

sales_by_store = sales_by_store.withColumnRenamed("Store_Number", "store_num")

In [7]:
# join two tables

sale_by_store_by_item = sale_by_store_item.alias("a").join(sales_by_store\
                     .alias("b"),sale_by_store_item['Store_Number'] == sales_by_store['store_num'],how='left')

In [8]:
sale_by_store_by_item.show(5)

+------------+-----------+-----------------+---------+------------------------+
|Store_Number|Item_Number|Sale_Dollars     |store_num|store_total_sale_dollars|
+------------+-----------+-----------------+---------+------------------------+
|        2659|      28866|215.8800048828125|     2659|      131108.44009304047|
|        2659|      87408|298.8999938964844|     2659|      131108.44009304047|
|        2659|      81206|933.8399658203125|     2659|      131108.44009304047|
|        2659|      12888|2262.480010986328|     2659|      131108.44009304047|
|        2659|      43197|            38.25|     2659|      131108.44009304047|
+------------+-----------+-----------------+---------+------------------------+
only showing top 5 rows

Because we now have this table containing the total sales generated by each product within each store, and the total sales that the store generates,  we can now derive what percentage of a store's total sales are generated by each product.

We now do this and add that to the table.

In [9]:
# add a "percentage of total store sales for each item" column

sale_by_store_by_item = sale_by_store_by_item.withColumn("perc_of_store_total_sale", 
                                                         sale_by_store_by_item["sum(Sale_Dollars)"]/ sale_by_store_by_item["store_total_sale_dollars"] )

In [15]:
# Quick look at what the table now contains

sale_by_store_by_item.show(5)

+------------+-----------+-----------------+---------+------------------------+------------------------+
|Store_Number|Item_Number|Sale_Dollars     |store_num|store_total_sale_dollars|perc_of_store_total_sale|
+------------+-----------+-----------------+---------+------------------------+------------------------+
|        2659|      28866|215.8800048828125|     2659|      131108.44009304047|    0.001646575954451...|
|        2659|      87408|298.8999938964844|     2659|      131108.44009304047|    0.002279792160477...|
|        2659|      81206|933.8399658203125|     2659|      131108.44009304047|    0.007122653317800269|
|        2659|      12888|2262.480010986328|     2659|      131108.44009304047|    0.017256555027126936|
|        2659|      43197|            38.25|     2659|      131108.44009304047|    2.917432315788066E-4|
+------------+-----------+-----------------+---------+------------------------+------------------------+
only showing top 5 rows

The next step is take a look at each store, and rank the items it sells from most popular to least popular.

This is done based on the total sales for each product, in USD

In [10]:
# import some needed pyspark.sql functions

from pyspark.sql.functions import *
from pyspark.sql.window import Window

# For each store, we can rank all items from most popular to least popular based on sales in US dollars 

ranked =  sale_by_store_by_item.withColumn("rank", dense_rank().over(Window.partitionBy("store_num").orderBy(desc("perc_of_store_total_sale"))))

In [20]:
# quick look at what this ranked list looks like

ranked.show(10)

+------------+-----------+------------------+---------+------------------------+------------------------+----+
|Store_Number|Item_Number| Sale_Dollars     |store_num|store_total_sale_dollars|perc_of_store_total_sale|rank|
+------------+-----------+------------------+---------+------------------------+------------------------+----+
|        2659|      11776| 6132.840026855469|     2659|      131108.44009304047|     0.04677685145596522|   1|
|        2659|      34433| 4931.760009765625|     2659|      131108.44009304047|    0.037615885035820924|   2|
|        2659|      11788| 4882.559829711914|     2659|      131108.44009304047|     0.03724062178031429|   3|
|        2659|      25608|  4727.40007019043|     2659|      131108.44009304047|     0.03605717577629368|   4|
|        2659|      37998| 4516.200050354004|     2659|      131108.44009304047|     0.03444629535023912|   5|
|        2659|      23828| 4490.279945373535|     2659|      131108.44009304047|     0.03424859560671326|   6|
|        2659|      43336|3875.6400756835938|     2659|      131108.44009304047|    0.029560568891928426|   7|
|        2659|      11296| 3169.949996948242|     2659|      131108.44009304047|     0.02417807728242898|   8|
|        2659|      26826|3027.1000442504883|     2659|      131108.44009304047|    0.023088521548287215|   9|
|        2659|      40118| 2819.579990386963|     2659|      131108.44009304047|     0.02150570923112243|  10|
+------------+-----------+------------------+---------+------------------------+------------------------+----+
only showing top 10 rows

"ranked" now contains an ordered ranking for each item, for each store in Iowa, just like what we wanted.

We now need to convert this to a ranking based ratings system. To do this we create 10 buckets in which items get placed.

The top 10% of items in each store in terms of total sales in USD will receive a rating of 9, the next highest 10% receive a rating of 8 and so on.

If we compare the "ranked" table above to the "ratings" one after this process, we can see that the top 10 have all received this max rating of 9, as we would expect.

In [11]:
# use QuantileDiscretizer to place all of the ranked items into ten ratings buckets, 
# equally distributed based on their position in the ranking 

store_item_rated = QuantileDiscretizer(numBuckets=10, inputCol="perc_of_store_total_sale",outputCol="rating")\
.fit(sale_by_store_by_item).transform(sale_by_store_by_item)

In [23]:
# take a look at what these ratings looks like 

store_item_rated.filter(store_item_rated.Store_Number == 2659).sort('perc_of_store_total_sale',ascending=False)\
.show(50)

+------------+-----------+------------------+---------+------------------------+------------------------+------+
|Store_Number|Item_Number| Sale_Dollars     |store_num|store_total_sale_dollars|perc_of_store_total_sale|rating|
+------------+-----------+------------------+---------+------------------------+------------------------+------+
|        2659|      11776| 6132.840026855469|     2659|      131108.44009304047|     0.04677685145596522|   9.0|
|        2659|      34433| 4931.760009765625|     2659|      131108.44009304047|    0.037615885035820924|   9.0|
|        2659|      11788| 4882.559829711914|     2659|      131108.44009304047|     0.03724062178031429|   9.0|
|        2659|      25608|  4727.40007019043|     2659|      131108.44009304047|     0.03605717577629368|   9.0|
|        2659|      37998| 4516.200050354004|     2659|      131108.44009304047|     0.03444629535023912|   9.0|
|        2659|      23828| 4490.279945373535|     2659|      131108.44009304047|     0.03424859560671326|   9.0|
|        2659|      43336|3875.6400756835938|     2659|      131108.44009304047|    0.029560568891928426|   9.0|
|        2659|      11296| 3169.949996948242|     2659|      131108.44009304047|     0.02417807728242898|   9.0|
|        2659|      26826|3027.1000442504883|     2659|      131108.44009304047|    0.023088521548287215|   9.0|
|        2659|      40118| 2819.579990386963|     2659|      131108.44009304047|     0.02150570923112243|   9.0|
|        2659|      30056| 2674.199948310852|     2659|      131108.44009304047|    0.020396855811976096|   9.0|
|        2659|      45248| 2588.760009765625|     2659|      131108.44009304047|     0.01974518198773873|   9.0|
|        2659|      34006|2400.9900550842285|     2659|      131108.44009304047|    0.018313009089120254|   9.0|
|        2659|      12888| 2262.480010986328|     2659|      131108.44009304047|    0.017256555027126936|   9.0|
|        2659|      27102|2210.6399841308594|     2659|      131108.44009304047|    0.016861156936670816|   9.0|
|        2659|      43338|2207.4000244140625|     2659|      131108.44009304047|    0.016836444876070465|   9.0|
|        2659|      35318| 2113.199962615967|     2659|      131108.44009304047|    0.016117955191262627|   9.0|
|        2659|      65256|1871.0800323486328|     2659|      131108.44009304047|    0.014271240135424005|   9.0|
|        2659|      26827|1838.2400436401367|     2659|      131108.44009304047|    0.014020760542461177|   9.0|
|        2659|      36306|1837.0800094604492|     2659|      131108.44009304047|    0.014011912643890618|   9.0|
|        2659|       4866| 1826.130012512207|     2659|      131108.44009304047|    0.013928394016558375|   9.0|
|        2659|      12478|           1559.25|     2659|      131108.44009304047|    0.011892827028477234|   9.0|
|        2659|      43128|            1554.0|     2659|      131108.44009304047|    0.011852783839829163|   9.0|
|        2659|      36308| 1546.199935913086|     2659|      131108.44009304047|    0.011793290613600717|   9.0|
|        2659|      25606|1460.2800064086914|     2659|      131108.44009304047|     0.01113795576678672|   9.0|
|        2659|      64866|1387.2600021362305|     2659|      131108.44009304047|    0.010581012184660028|   9.0|
|        2659|      86670|1375.5300064086914|     2659|      131108.44009304047|    0.010491544292896424|   9.0|
|        2659|      42716|1365.0800247192383|     2659|      131108.44009304047|     0.01041183941896125|   9.0|
|        2659|      89199|1343.3099670410156|     2659|      131108.44009304047|    0.010245793223439638|   9.0|
|        2659|      57148|1331.9699821472168|     2659|      131108.44009304047|     0.01015930005117894|   9.0|
|        2659|      69636|1169.8200073242188|     2659|      131108.44009304047|    0.008922537759537538|   9.0|
|        2659|      35316|1030.5599822998047|     2659|      131108.44009304047|    0.007860363387501772|   9.0|
|        2659|      81208| 955.8000183105469|     2659|      131108.44009304047|    0.007290148655817032|   9.0|
|        2659|      81206| 933.8399658203125|     2659|      131108.44009304047|    0.007122653317800269|   9.0|
|        2659|      30238| 932.7000045776367|     2659|      131108.44009304047|    0.007113958521020849|   9.0|
|        2659|      36907| 898.9499931335449|     2659|      131108.44009304047|    0.006856537935281737|   9.0|
|        2659|      37336|  874.959981918335|     2659|      131108.44009304047|    0.006673559545803641|   9.0|
|        2659|      41693|  844.959981918335|     2659|      131108.44009304047|    0.006444741324957518|   9.0|
|        2659|      20248| 816.8399887084961|     2659|      131108.44009304047|    0.006230262431074...|   9.0|
|        2659|      41846| 799.9299926757812|     2659|      131108.44009304047|    0.006101285257517478|   9.0|
|        2659|      19066| 784.9400100708008|     2659|      131108.44009304047|    0.005986952552511279|   9.0|
|        2659|      15626| 761.7000007629395|     2659|      131108.44009304047|    0.005809694633102208|   9.0|
|        2659|      11586| 757.4000129699707|     2659|      131108.44009304047|    0.005776897447887302|   9.0|
|        2659|      86886| 744.7200050354004|     2659|      131108.44009304047|    0.005680183552690532|   9.0|
|        2659|      43126| 728.0100250244141|     2659|      131108.44009304047|    0.005552731956140927|   8.0|
|        2659|      15248| 722.5199890136719|     2659|      131108.44009304047|    0.005510857947062287|   8.0|
|        2659|      43316| 721.5600128173828|     2659|      131108.44009304047|    0.005503535945552637|   8.0|
|        2659|      20246| 708.6300220489502|     2659|      131108.44009304047|    0.005404915362779653|   8.0|
|        2659|      35918| 707.2799835205078|     2659|      131108.44009304047|    0.005394618248974...|   8.0|
|        2659|      38006| 700.5599975585938|     2659|      131108.44009304047|    0.005343363074577386|   8.0|
+------------+-----------+------------------+---------+------------------------+------------------------+------+
only showing top 50 rows

We showed 50 above so we can see when the ratings start to drop under 9. We can see that towards the end of the 50, we start to have some 8s

Next we want to take the important columns that the ALS recommender model needs and store them in "ratings". 

We take the store number, the item number, the rating it received and the percentage of total sales it generates for the store.

In [12]:
# carrying on with the important features, stored in "ratings"

ratings = store_item_rated.select("Store_Number","Item_Number", "rating","perc_of_store_total_sale")

In [23]:
# quick look at what the "ratings" table looks like

ratings.show(5)

+------------+-----------+------+------------------------+
|Store_Number|Item_Number|rating|perc_of_store_total_sale|
+------------+-----------+------+------------------------+
|        2659|      28866|   7.0|    0.001646575954451...|
|        2659|      87408|   7.0|    0.002279792160477...|
|        2659|      81206|   9.0|    0.007122653317800269|
|        2659|      12888|   9.0|    0.017256555027126936|
|        2659|      43197|   4.0|    2.917432315788066E-4|
+------------+-----------+------+------------------------+
only showing top 5 rows

The next few lines are required to fix the Item Number column, casting it to INT so ALS can read it properly.

We also drop any nulls here.

In [13]:
df = df.withColumn("Item_Number", regexp_extract("Item_Number", "\\d+", 0))

In [14]:
ratings = ratings.withColumn("Item_Number", regexp_extract("Item_Number", "\\d+", 0))

In [15]:
ratings = ratings.withColumn("Item_Number", ratings["Item_Number"].cast(IntegerType()))

In [16]:
ratings = ratings.withColumnRenamed("Item_Number", "item_num")

In [17]:
ratings = ratings.dropna()

## Training and test split

It's time to split the ratings data into a training and test split of 0.8/0.2

In [80]:
# split the data into training and test

training, test = ratings.randomSplit([0.8,0.2], seed = 36)

Now that we have our training and test split, we can create and train our ALS model. 

Alternating Least Square (ALS) runs itself in a parallel fashion. ALS is implemented in Apache Spark ML and built for a large-scale collaborative filtering problems.

Our "User" we want to recommend items to are our liquor stores and the "Items" we want to recommend to the user are liquor products. We do not implement a "cold start" strategy as we know a lot about each store based on how the products within them currently rank

In [81]:
# create our model

als = ALS(maxIter=10, regParam=0.01, userCol="Store_Number", itemCol="item_num", ratingCol="rating",
          coldStartStrategy="drop", nonnegative = True)

In [82]:
# train out model by fitting it to the training data

model = als.fit(training)

In [83]:
# Apply model on the test set to predict 

predictions = model.transform(test)

In [84]:
# quick sample of predictions for sanity check

predictions.show(50)

+------------+--------+------+------------------------+------------+
|Store_Number|item_num|rating|perc_of_store_total_sale|  prediction|
+------------+--------+------+------------------------+------------+
|        4174|   10623|   7.0|    0.001464883876655...|   4.5173454|
|        2627|   10623|   0.0|    4.761695292000214E-6|   1.0178543|
|        4129|   10623|   0.0|    1.676564976479242...|   0.2742364|
|        2448|   10623|   0.0|    2.621142842165380...|0.0092287455|
|        2622|   21220|   1.0|    4.289953009793906...|  0.17363909|
|        4773|   21220|   2.0|    1.217239627645284E-4|   2.1917303|
|        4327|   21220|   4.0|    2.430985772381577...|   5.1853323|
|        2633|   21220|   0.0|    1.004612157969494...| 0.039267782|
|        4288|   21220|   1.0|    5.051777354313654...|   1.9180535|
|        2560|   21220|   0.0|    1.353293021502036...|   0.2180132|
|        2190|   21220|   0.0|    1.834473321788793...|  0.39269286|
|        2552|   21220|   0.0|     2.42789293926069E-5|   0.6219945|
|        4764|   21220|   1.0|    3.936910775740758...|   1.6881311|
|        2643|   21220|   0.0|    1.816380909402200...|   0.2513126|
|        3704|   28088|   3.0|    1.844109761638780...|   3.8245268|
|        2522|   28088|   6.0|      8.5264955166018E-4|   4.2683706|
|        5105|   28088|   7.0|    0.001446855012935...|   5.9940004|
|        2502|   28088|   5.0|    5.836124643232461E-4|    5.389751|
|        5162|   28088|   4.0|    2.985016340210257E-4|   4.5473347|
|        2616|   28088|   3.0|    1.293226323992068...|   3.6524608|
|        2647|   28088|   7.0|    0.002255637974278...|     5.63868|
|        2614|   28088|   7.0|    0.001814003210053...|   4.9374275|
|        3925|   28088|   7.0|    0.001325583923085...|    5.772926|
|        2651|   28088|   7.0|    0.001345388147756...|    4.365269|
|        2613|   28088|   2.0|    7.577163405624376E-5|    4.663788|
|        3762|   28088|   8.0|    0.003018352705991352|     4.04548|
|        4308|   28088|   4.0|    2.722018171132083E-4|   4.0832767|
|        2841|   28088|   5.0|    6.045224678459619E-4|   5.8181458|
|        2413|   28088|   5.0|     6.36738003668639E-4|   3.4503565|
|        2576|   28088|   8.0|    0.003295313545774532|     4.05543|
|        2512|   28088|   3.0|    1.743441193995326...|   4.4733458|
|        4344|   28088|   2.0|    1.272743260626437...|   5.3117805|
|        3592|   28088|   3.0|    1.493727276021631...|     4.35705|
|        3514|   28088|   3.0|    1.385824742116077E-4|    2.498181|
|        5224|   28088|   1.0|    6.727905669432587E-5|   3.5954678|
|        4582|   28088|   3.0|    2.092032982265234E-4|    3.802643|
|        2573|   28088|   5.0|    4.499432040060609...|    4.255121|
|        2604|   28088|   7.0|    0.001876834549706...|   3.8390238|
|        2506|   28088|   6.0|    0.001074052675318...|   4.2088103|
|        2353|   28088|   4.0|    3.204501022661411...|   2.7963228|
|        3785|   28088|   5.0|    5.095548558096196E-4|    3.394503|
|        2624|   28088|   4.0|     3.57769278385608E-4|   5.0392017|
|        2548|   28088|   1.0|    3.624807978307168E-5|    4.985795|
|        5215|   28088|   4.0|    3.262622221842804...|   5.5419674|
|        2543|   28088|   4.0|    3.621345727805224E-4|   3.9923203|
|        5326|   28088|   8.0|    0.002531896215842...|   3.5439174|
|        2500|   28088|   3.0|    1.557296776546111...|   4.8407216|
|        3838|   28088|   7.0|    0.001385813570090...|    6.226426|
|        2572|   29993|   0.0|    2.299522868925578...|   0.6138649|
|        2622|   29993|   2.0|    6.770759342846795E-5|   1.3225518|
+------------+--------+------+------------------------+------------+
only showing top 50 rows

In [85]:
df_alt = df.withColumnRenamed("Store_Number", "store_num_b")

We now want to create a table of predictions so we can evaluate how the model performed on the test data

In [86]:
# create table of predictions

predictions = predictions.join(df_alt,df_alt.store_num_b == predictions.Store_Number)

In [61]:
# evaluate model performance

evaluator = RegressionEvaluator(metricName='rmse', labelCol='rating')
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.4468538985486474

We can see that our RMSE is 1.447. With the range of our ratings system being between 1 and 10, we can see that this isn't too bad and it's likely that we can get some useful results. If a product actually had a rating of 8 and it received a 6.663, this seems pretty good at a glance.

Next we can see that we could take two approaches using this ALS model. We can recommend products to stores as directly below:

In [88]:
# get top 10 liquor recommendations for 3 different stores

users = ratings.select(als.getUserCol()).distinct().limit(3)
userSubsetRecs = model.recommendForUserSubset(users, 10)

In [89]:
userSubsetRecs.show(truncate=False)

+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Store_Number|recommendations                                                                                                                                                                                                   |
+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|3918        |[[902767, 24.220943], [904827, 19.688126], [904984, 18.685905], [901610, 15.277443], [904605, 14.816101], [988063, 14.655827], [903032, 14.406505], [902551, 14.207243], [973448, 13.987808], [902585, 13.973974]]|
|2659        |[[989640, 21.285685], [902576, 20.985794], [965269, 20.293386], [965221, 20.22396], [967286, 19.780384], [902767, 19.57024], [904984, 19.473003], [988063, 19.016941], [927080, 18.828728], [903209, 18.034904]]  |
|3749        |[[966931, 18.390692], [904605, 15.882501], [902059, 15.61244], [957049, 14.951017], [989640, 14.594672], [903717, 14.543578], [988037, 14.034143], [903464, 13.68769], [904046, 13.437189], [927080, 13.0898]]    |
+------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

The other approach that's possible is a reverse if the previous, in that we can actually take the liquor product itself and recommend a list of stores that it would probably sell well in

In [90]:
# get top 10 store recommendation for 3 different liquor items

liquorRecs = model.recommendForAllItems(10)

In [91]:
liquors = ratings.select(als.getItemCol()).distinct().limit(3)
liquorSubsetRecs = model.recommendForItemSubset(liquors, 10)

In [92]:
liquorSubsetRecs.show(truncate=False)

+--------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|item_num|recommendations                                                                                                                                                                              |
+--------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|65251   |[[5304, 10.073424], [3569, 9.652113], [5424, 9.438894], [4338, 9.427406], [4693, 9.412919], [5208, 9.393775], [5433, 9.390767], [4857, 9.263572], [4834, 9.244173], [5410, 9.237768]]        |
|43302   |[[4990, 9.792597], [5304, 9.735309], [5285, 9.4549465], [4832, 9.453925], [5492, 9.427067], [5256, 9.3855095], [4465, 9.202315], [5461, 9.163044], [5365, 9.162868], [5310, 9.162399]]       |
|69637   |[[5417, 11.29587], [5407, 11.068464], [5103, 11.019497], [3832, 10.813314], [5457, 10.713944], [5396, 10.697372], [5418, 10.673255], [5331, 10.604743], [5445, 10.394914], [4789, 10.328419]]|
+--------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

We can see how both approaches can be useful depending on the use case. 

If we take the perspective of the store who is purchasing the liquor, it's of course useful to know what liquor is likely to sell well in your store.

If you look from the perspective of the company who makes the liquor however, it would be very useful to identify which stores you should be selling it to.

Now we want to get a list of the top stores in terms of total sales so we can use one of them for a small case study.

In [93]:
# get list of top stores

top_stores = df.groupBy(df['Store_Number']).agg({'Sale_Dollars':"sum"}).sort("sum(Sale_Dollars)", ascending=False).dropna().limit(20)

In [95]:
top20_store_list = [row.Store_Number for row in top_stores.select("Store_Number").collect()]

In [96]:
# display list of top 20 stores

top20_store_list

[2633,
 4829,
 2512,
 3385,
 3420,
 3952,
 3814,
 2190,
 3354,
 3773,
 2625,
 3494,
 3447,
 2616,
 3524,
 3820,
 2619,
 2629,
 2593,
 2648]

In [97]:
# collect all of the recommendations for these top 20 stores

rec_liquor_top20_store = {}
for store in top20_store_list:
    rec_liquor = userRecs.where(userRecs.Store_Number == store).select("recommendations").collect()
    rec_liquor_top10_store[store] = [i.item_num for i in rec_liquor[0]["recommendations"]]

In [98]:
# create list of all individual liquor products

liquor_product_list = df.select('Item_Number','Item_Description','Category_Name').dropDuplicates()
liquor_product_list = liquor_product_list.dropDuplicates(['Item_Number'])

Now that we have our list of top 20 stores, we want to grab one at random to use in our small case study

In [113]:
# Find the name of a store to use in our example

df_alt.filter(df_alt.store_num_b==3494).select('store_num_b', "Store_Name")\
.show(1, truncate = False)

+-----------+--------------------------+
|store_num_b|Store_Name                |
+-----------+--------------------------+
|3494       |Sam's Club 6514 / Waterloo|
+-----------+--------------------------+
only showing top 1 row

We went with 3494 which turns out to be "Sam's Club" in Waterloo

Next we want to get a list of the top 10 products that our model recommends for this store to stock, along with the top 10 products currently sell the best in the store.

In [114]:
sam_recommend = liquor_product_list.filter(liquor_product_list["Item_Number"].isin(rec_liquor_top10_store[3494]))

In [115]:
# Take a quick look at the recommended items for Sam's Club, Waterloo

sam_recommend.show(10)

+-----------+--------------------+--------------------+
|Item_Number|    Item_Description|       Category_Name|
+-----------+--------------------+--------------------+
|     904476|8 Seconds Canadia...| Special Order Items|
|     967286|Ice Hole Salty Ca...|   American Schnapps|
|     903037|     Agavero Liqueur| Special Order Items|
|       1016|Glenlivet w/2 Gla...|DECANTERS & SPECI...|
|     977256|  Revel Stoke Spiced|   CANADIAN WHISKIES|
|     902585|     Belvedere Vodka|      IMPORTED VODKA|
|     904605|      Sobieski Vodka|      IMPORTED VODKA|
|     902120|       Fernet Branca|MISC. IMPORTED CO...|
|     904884|Ice Hole Exotic S...| Special Order Items|
|      80504|Tres Leches Cream...|      CREAM LIQUEURS|
+-----------+--------------------+--------------------+

In [116]:
sam_actual = sale_by_store_by_item.join(liquor_product_list ,sale_by_store_by_item["Item_Number"] == liquor_product_list["Item_Number"], how='inner')\
.filter(sale_by_store_by_item.store_num==3494)\
.select("store_num", sale_by_store_by_item.Item_Number, "Item_Description","Category_Name",'sum(Sale_Dollars)')\
.dropDuplicates(["Item_Number"])\
.sort("sum(Sale_Dollars)", ascending=False)

In [117]:
# Take a quick look at the actual best selling items for Sam's Club, Waterloo

sam_actual.show(10)

+---------+-----------+--------------------+--------------------+------------------+
|store_num|Item_Number|    Item_Description|       Category_Name|      Sale_Dollars|
+---------+-----------+--------------------+--------------------+------------------+
|     3494|      43337|Captain Morgan Sp...|          SPICED RUM|         371714.27|
|     3494|      77487|   Tortilla Gold Dss|DISTILLED SPIRITS...|         325368.19|
|     3494|      11788|        Black Velvet|   CANADIAN WHISKIES|         308781.77|
|     3494|      26827|Jack Daniels Old ...|  TENNESSEE WHISKIES|         302438.88|
|     3494|      11297|Crown Royal Canad...|   CANADIAN WHISKIES|         274505.39|
|     3494|      43338|Captain Morgan Sp...|          SPICED RUM|         221117.39|
|     3494|      65257|Jagermeister Liqueur|MISC. IMPORTED CO...|         212291.51|
|     3494|      34007|Absolut Swedish V...|     Imported Vodkas|         208327.44|
|     3494|      88296|Patron Tequila Si...|             TEQUILA|         159508.68|
|     3494|      69637|Dr. Mcgillicuddy'...|   IMPORTED SCHNAPPS|         157408.55|
+---------+-----------+--------------------+--------------------+------------------+
only showing top 10 rows

In [135]:
# convert to pandas for output

sam_recommend_pd = sam_recommend.toPandas()
sam_recommend_pd['Category_Name'] = sam_recommend_pd['Category_Name'].str.title()

In [136]:
# convert to pandas for output

sam_actual_pd = sam_actual.toPandas()
sam_actual_pd['Category_Name'] = sam_actual_pd['Category_Name'].str.title()

## List of 10 highest recommended new items for Sam's Club, Waterloo

In [137]:
sam_recommend_pd

,Item_Number,Item_Description,Category_Name
0,904476,8 Seconds Canadian Whiskey,Special Order Items
1,967286,Ice Hole Salty Caramel Schnapps,American Schnapps
2,903037,Agavero Liqueur,Special Order Items
3,1016,Glenlivet w/2 Glasses,Decanters & Specialty Packages
4,977256,Revel Stoke Spiced,Canadian Whiskies
5,902585,Belvedere Vodka,Imported Vodka
6,904605,Sobieski Vodka,Imported Vodka
7,902120,Fernet Branca,Misc. Imported Cordials & Liqueurs
8,904884,Ice Hole Exotic Schnapps,Special Order Items
9,80504,Tres Leches Cream Liqueur,Cream Liqueurs

## List of actual top 10 best selling items in Sam's Club, Waterloo

In [138]:
sam_actual_pd = sam_actual_pd.rename(columns={"store_num":"Store_Num", "sum(Sale_Dollars)":"Total_Sales_USD"})
sam_actual_pd.round(2).head(10)

,Store_Num,Item_Number,Item_Description,Category_Name,Total_Sales_USD
0,3494,43337,Captain Morgan Spiced Rum,Spiced Rum,371714.28
1,3494,77487,Tortilla Gold Dss,Distilled Spirits Specialty,325368.20
2,3494,11788,Black Velvet,Canadian Whiskies,308781.78
3,3494,26827,Jack Daniels Old #7 Black Lbl,Tennessee Whiskies,302438.88
4,3494,11297,Crown Royal Canadian Whisky,Canadian Whiskies,274505.40
5,3494,43338,Captain Morgan Spiced Rum,Spiced Rum,221117.40
6,3494,65257,Jagermeister Liqueur,Misc. Imported Cordials & Liqueurs,212291.52
7,3494,34007,Absolut Swedish Vodka 80 Prf,Imported Vodkas,208327.44
8,3494,88296,Patron Tequila Silver,Tequila,159508.68
9,3494,69637,Dr. Mcgillicuddy's Cherry Schnapps,Imported Schnapps,157408.56

## Thoughts on this recommendation example

It's clear to see why certain products may have been recommended to Sam's Club in this case.

Two of the recommneded products are Canadian Whiskeys, "8 Seconds Canadian Whiskey" and "Revel Stoke Spiced".

We can see that two of Sam's Club's biggest current sellers are also Canadian Whiskeys, "Black Velvet" and "Crown Royal".

This makes intuitive sense and serves as a nice sanity check for our system. It's likely that if certain types of liqour already sell well, than other products of that same type may also sell well.

A second cofirmation that the recommender is doing its job is the presence of two sweet schnapps in the recommendations, "Ice Hole Salty Caramel Schnapps" and "Ice Hole Exotic Schnapps", and the presence of another sweet schnapps in the actual best selling list - "Dr. Mcgillicuddy's Cherry Schnapps"